[package]
name = "xtask"
version = "0.1.0"
edition = "2024"
publish = false

[dependencies]
anyhow = "1"
dylib-patcher = { path = "/Users/lqiao/codes/dylib-kit/crates/dylib-patcher" }
dylib-hook-registry = { path = "/Users/lqiao/codes/dylib-kit/crates/dylib-hook-registry" }
